<div class="flex flex-col p-3 w-[260px]">
    <div class="flex pb-3">
        <div class="pr-3"><span class="fa-solid fa-triangle-exclamation text-[#d14d4d] text-6xl"></span></div>
        <div><span>Are you sure you want to remove this employee?</span></div>
    </div>
    <div class="flex align-center justify-evenly">
       <span class="pt-2"><a class="text-blue-700 bold " href="#">CANCEL</a> </span> 
         <a class="bg-[#d14d4d] text-white rounded py-2 px-3" href="#Remove/{{this.parameter}}">YES, REMOVE</a>
    </div>
</div>